# VS files
utils/__pycache__/
temp/
notebooks/.ipynb_checkpoints/
__pycache__/

# Big files
.idea/

# Log files
logs/*
*.out
*.log

# Output files
outputs/*
plots/*

# Shell scripts
#*.sh

# Package files
build/
kanonym4text.egg-info/
kanonym4text.egg-info
dist/*.whl
dist/

# Test files
test.py
setup_test.py
run_test.sh

