# VS files
utils/__pycache__
temp/
notebooks/.ipynb_checkpoints/
__pycache__/

# Big files
.idea/

# Log files
logs/*
*.out
*.log

# Output files
outputs/*
plots/*

# Shell scripts
#*.sh

# Package files
build/
kanonym4text.egg-info/
kanonym4text.egg-info
dist/*.whl

# Test files
test.py
